<div class="container mt-5">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Badly explained movies</h5>
  
        <hr />

        <h5 class = "card-title text-center">{{this.randoMovie.explanation}}</h5>

        <hr />
        <label for="name" class="form-label"> </label> <!--see if necessary-->
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Enter guess here"
          id="typing"  [(ngModel)]="guess.name" 
        > 
        </div>


      <div class="row">
        <div class="col text-center">
          <button type="button" (click)="submission()" class="btn btn-primary">Submit</button>
          <h3 class="text-center">{{this.answer}}</h3>
      </div>
          <hr />

          <div class="text-center">

            <button type="button" (click)="hint()" class="btn btn-secondary">Hint</button>
        
           </div> 
           <h3 *ngIf="show" class="text-center pt-5">{{this.randoMovie.hint}}</h3>
   </div>
 </div>
</div>
</div>
